In [1]:
import pandas as pd
import numpy as np

#### 5. 행 삭제 017

In [8]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 데이터프레임 df 복제, 변수 df2 저장, df2 1개 행(row) 삭제
df2 = df.copy()
df2.drop('우현', inplace=True)
print(df2); print()

# 데이터프레임 df 복제, 변수 df3 저장, df3 2개 행(row) 삭제
df3 = df.copy()
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

#### 6. 열 삭제 020

In [13]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 데이터프레임 df 복제, 변수 df4 저장, df4 1개 열(column) 삭제
df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)
print(df4); print()

# 데이터프레임 df 복제, 변수 df5 저장, df5 2개 열(column) 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5); print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90

#### 7. 행 선택 021

In [16]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 행 인덱스를 사용하여 행 1개 선택
label1 = df.loc['서준']
position1 = df.iloc[0]

print(label1); print()

print(position1); print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

#### 8. 멀티 행 선택 022

In [18]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]

print(label2); print()

print(position2); print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

#### 9. 멀티 행 슬라이스 선택 023

In [20]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]

print(label3); print()

print(position3); print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100

---

#### 10. 열 선택 024

In [27]:
dataColumn = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(dataColumn)
print(df); print()

# '수학 점수 데이터만 선택, 변수 math1에 저장
math1 = df['수학']
print(math1); print()

# '영어' 점수 데이터만 선택, 변수 english에 저장
english = df.영어
print(english); print()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

0    90
1    80
2    70
Name: 수학, dtype: int64

0    98
1    89
2    95
Name: 영어, dtype: int64

#### 11. 멀티 열 선택 026

In [30]:
# 10 데이터 사용

# '음악', '체육' 점수 데이터를 선택, 변수 music_gym에 저장
music_gym = df[['음악', '체육']]
print(music_gym); print()

# '수학' 점수 데이터만 선택, 변수 math2에 저장
math2 = df[['수학']]
print(math2); print()

    음악   체육
0   85  100
1   95   90
2  100   90

   수학
0  90
1  80
2  70

#### 12. 멀티 열 슬라이스 선택 027

In [35]:
# 모든 행에 대해서 0행부터 2행 간격으로 선택
print(df.iloc[: : 2]); print()

# df의 0행부터 2행까지 2행 간격으로 선택
print(df.iloc[0:3:2]); print()

# 역순으로 인덱싱시 "슬라이딩 간격"에 -1 입력
# df의 모든 행 선택하여 역순 정렬하려면 df.iloc[: : -1]라고 입력
print(df.iloc[ : : -1])

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

#### 13. 원소 선택 028

In [38]:
data13 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data13)
print(df); print()

# '이름' 열을 새로운 인덱스 지정, df 객체에 변경 사항 반영
df.set_index('이름', inplace=True)
print(df); print()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

#### 14. 원소 선택 029

In [39]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a); print()

b = df.iloc[0, 2]
print(b)

85

85

#### 15. 원소 선택 029

In [43]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c); print()

d = df.iloc[0, [2, 3]]
print(d); print()

e = df.loc['서준', '음악':'체육']
print(e); print()

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

#### 16. 원소 선택 030

In [45]:
# df 2개 이상의 행과 열에 속하는 원소들 선택('서준', '우현'의 '음악', '체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g); print()

h = df.iloc[[1, 2], [2, 3]]
print(h); print()

i = df.loc['서준':'우현', '음악':'체육']
print(i); print()

j = df.iloc[0:2, 2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90

     음악  체육
이름
우현   95  90
인아  100  90

    음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

#### 17. 열 추가 031

In [46]:
data17 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data17)
print(df); print()

# 데이터프레임 df에 '국어' 점수 열(column) 추가, 데이터 값은 80 지정
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

#### 18. 행 추가 033

In [49]:
data18 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data18)
print(df); print()

# 새로운 행(row) 추가 - 같은 원소 값 입력
df.loc[3] = 0
print(df); print()

# 새로운 행(row) 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df); print()

# 새로운 행(row) 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df); print()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

#### 19. 원소 값 변경 035

In [51]:
data19 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data19)
print(df); print()

# '이름' 열을 새로운 인덱스로 지정, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df); print()

# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0][3] = 80
print(df); print()

df.loc['서준']['체육'] = 90
print(df); print()

df.loc['서준', '체육'] = 100
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

#### 20. 원소 값 변경 036

In [53]:
# 데이터프레임 df의 원소 여러 개를 변경하는 방법 : '서준'의 '음악', '체육' 점수
df.loc['서준', ['음악', '체육']] = 50
print(df); print()

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

#### 21. 행, 열 바꾸기 038

In [54]:
data21 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data21)
print(df); print()

# 데이터프레임 df를 전치하기 (메서드 활용)
df = df.transpose()
print(df); print()

# 데이터프레임 df를 다시 전치하기(클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

---
인덱스 활용

#### 22. 특정 열 행 인덱스로 설정 039

In [58]:
data21 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data21)
print(df); print()

# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf = df.set_index(['이름'])
print(ndf); print()

ndf2 = ndf.set_index('음악')
print(ndf2); print()

ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3); print()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90

        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

#### 23. 행 인덱스 재배열 042

In [61]:

dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf); print()

# reindex로 발생한 NaN 값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

#### 24. 행 인덱스 초기화 042

In [63]:
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

#### 25. 행 인덱스 기준 데이터프레임 정렬 043

In [65]:
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# 내림차순으로 행 인덱스 정렬
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

#### 26. 열 기준 정렬

In [67]:
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# c1 열을 기준으로 내림차순 정렬
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

---
산술연산

#### 27. 시리즈 vs 숫자 046

In [69]:
student1 = pd.Series({'국어':100, '영어':80, '수학': 90})
print(student1); print()

# 학생의 과목별 점수를 200으로 나누기
percentage = student1 / 200

print(percentage)

국어    100
영어     80
수학     90
dtype: int64

국어    0.50
영어    0.40
수학    0.45
dtype: float64

#### 28. 시리즈 vs 시리즈 047

In [74]:
student1 = pd.Series({'국어': 100, '영어': 80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1); print()
print(student2); print()

# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2  # 덧셈
substraction = student1 - student2  # 뺄셈
multiplication = student1 * student2 # 곱셈
division = student1 / student2 # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, substraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

result

국어    100
영어     80
수학     90
dtype: int64

수학    80
국어    90
영어    80
dtype: int64

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

#### 29. NaN 값이 있는 시리즈 연산 050

In [75]:
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1); print()
print(student2); print()

# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2  # 덧셈
substraction = student1 - student2  # 뺄셈
multiplication = student1 * student2 # 곱셈
division = student1 / student2 # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, substraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

result

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

#### 30. 연산 메서드 051

In [77]:
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1); print()
print(student2); print()

# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메서드 사용)
sr_add = student1.add(student2, fill_value=0)   # 덧셈
sr_sub = student1.sub(student2, fill_value=0)   # 뺄셈
sr_mul = student1.mul(student2, fill_value=0)   # 곱셈
sr_div = student1.div(student2, fill_value=0)   # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

#### 31. 데이터프레임 vs 숫자 053

In [84]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]

print(df.head()); print()   # 첫 5행 표시

# 데이터프레임에 숫자 10 더하기
addition = df + 10

print(addition); print()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]

#### 32. 데이터프레임 vs 데이터프레임 054

In [88]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

print(df); print()

# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.tail()); print()

# 데이터프레임에 숫자 10 빼기
substraction = addition - df
print(substraction)

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

      age  fare
0    10.0  10.0
1    10.0  10.0
2    10.0  10.0
3    10.0  10.0
4    10.0  10.0
..    ...   ...
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

[891 rows x 2 columns]