In [1]:
import pandas as pd
import numpy as np

#### 7. 행 선택 021

In [ ]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 행 인덱스를 사용하여 행 1개 선택
label1 = df.loc['서준']
position1 = df.iloc[0]

print(label1); print()

print(position1); print()

#### 8. 멀티 행 선택 022

In [ ]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]

print(label2); print()

print(position2); print()

#### 9. 멀티 행 슬라이스 선택 023

In [ ]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]

print(label3); print()

print(position3); print()

---

#### 10. 열 선택 024

In [ ]:
dataColumn = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(dataColumn)
print(df); print()

# '수학 점수 데이터만 선택, 변수 math1에 저장
math1 = df['수학']
print(math1); print()

# '영어' 점수 데이터만 선택, 변수 english에 저장
english = df.영어
print(english); print()

#### 11. 멀티 열 선택 026

In [ ]:
# 10 데이터 사용

# '음악', '체육' 점수 데이터를 선택, 변수 music_gym에 저장
music_gym = df[['음악', '체육']]
print(music_gym); print()

# '수학' 점수 데이터만 선택, 변수 math2에 저장
math2 = df[['수학']]
print(math2); print()

#### 12. 멀티 열 슬라이스 선택 027

In [ ]:
# 모든 행에 대해서 0행부터 2행 간격으로 선택
print(df.iloc[: : 2]); print()

# df의 0행부터 2행까지 2행 간격으로 선택
print(df.iloc[0:3:2]); print()

# 역순으로 인덱싱시 "슬라이딩 간격"에 -1 입력
# df의 모든 행 선택하여 역순 정렬하려면 df.iloc[: : -1]라고 입력
print(df.iloc[ : : -1])

#### 13. 원소 선택 028

In [ ]:
data13 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data13)
print(df); print()

# '이름' 열을 새로운 인덱스 지정, df 객체에 변경 사항 반영
df.set_index('이름', inplace=True)
print(df); print()

#### 14. 원소 선택 029

In [ ]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a); print()

b = df.iloc[0, 2]
print(b)

#### 15. 원소 선택 029

In [ ]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c); print()

d = df.iloc[0, [2, 3]]
print(d); print()

e = df.loc['서준', '음악':'체육']
print(e); print()

#### 16. 원소 선택 030

In [ ]:
# df 2개 이상의 행과 열에 속하는 원소들 선택('서준', '우현'의 '음악', '체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g); print()

h = df.iloc[[1, 2], [2, 3]]
print(h); print()

i = df.loc['서준':'우현', '음악':'체육']
print(i); print()

j = df.iloc[0:2, 2:]
print(j)

#### 17. 열 추가 031

In [ ]:
data17 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data17)
print(df); print()

# 데이터프레임 df에 '국어' 점수 열(column) 추가, 데이터 값은 80 지정
df['국어'] = 80
print(df)

#### 18. 행 추가 033

In [ ]:
data18 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data18)
print(df); print()

# 새로운 행(row) 추가 - 같은 원소 값 입력
df.loc[3] = 0
print(df); print()

# 새로운 행(row) 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df); print()

# 새로운 행(row) 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df); print()

#### 19. 원소 값 변경 035

In [ ]:
data19 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data19)
print(df); print()

# '이름' 열을 새로운 인덱스로 지정, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df); print()

# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0][3] = 80
print(df); print()

df.loc['서준']['체육'] = 90
print(df); print()

df.loc['서준', '체육'] = 100
print(df)

#### 20. 원소 값 변경 036

In [ ]:
# 데이터프레임 df의 원소 여러 개를 변경하는 방법 : '서준'의 '음악', '체육' 점수
df.loc['서준', ['음악', '체육']] = 50
print(df); print()

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

#### 21. 행, 열 바꾸기 038

In [ ]:
data21 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data21)
print(df); print()

# 데이터프레임 df를 전치하기 (메서드 활용)
df = df.transpose()
print(df); print()

# 데이터프레임 df를 다시 전치하기(클래스 속성 활용)
df = df.T
print(df)

---
인덱스 활용

#### 22. 특정 열 행 인덱스로 설정 039

In [ ]:
data21 = {'이름': ['서준', '우현', '인아'],
        '수학': [90, 80, 70],
        '영어': [98, 89, 95],
        '음악': [85, 95, 100],
        '체육': [100, 90, 90]}

df = pd.DataFrame(data21)
print(df); print()

# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf = df.set_index(['이름'])
print(ndf); print()

ndf2 = ndf.set_index('음악')
print(ndf2); print()

ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3); print()

#### 23. 행 인덱스 재배열 042

In [ ]:

dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf); print()

# reindex로 발생한 NaN 값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

#### 24. 행 인덱스 초기화 042

In [ ]:
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)

#### 25. 행 인덱스 기준 데이터프레임 정렬 043

In [ ]:
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# 내림차순으로 행 인덱스 정렬
ndf = df.sort_index(ascending=False)
print(ndf)

#### 26. 열 기준 정렬

In [ ]:
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df); print()

# c1 열을 기준으로 내림차순 정렬
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

---
산술연산

#### 27. 시리즈 vs 숫자 046

In [ ]:
student1 = pd.Series({'국어':100, '영어':80, '수학': 90})
print(student1); print()

# 학생의 과목별 점수를 200으로 나누기
percentage = student1 / 200

print(percentage)

#### 28. 시리즈 vs 시리즈 047

In [ ]:
student1 = pd.Series({'국어': 100, '영어': 80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1); print()
print(student2); print()

# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2  # 덧셈
substraction = student1 - student2  # 뺄셈
multiplication = student1 * student2 # 곱셈
division = student1 / student2 # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, substraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

result

#### 29. NaN 값이 있는 시리즈 연산 050

In [ ]:
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1); print()
print(student2); print()

# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2  # 덧셈
substraction = student1 - student2  # 뺄셈
multiplication = student1 * student2 # 곱셈
division = student1 / student2 # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, substraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

result

#### 30. 연산 메서드 051

In [ ]:
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1); print()
print(student2); print()

# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메서드 사용)
sr_add = student1.add(student2, fill_value=0)   # 덧셈
sr_sub = student1.sub(student2, fill_value=0)   # 뺄셈
sr_mul = student1.mul(student2, fill_value=0)   # 곱셈
sr_div = student1.div(student2, fill_value=0)   # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

#### 31. 데이터프레임 vs 숫자 053

In [ ]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]

print(df.head()); print()   # 첫 5행 표시

# 데이터프레임에 숫자 10 더하기
addition = df + 10

print(addition); print()

#### 32. 데이터프레임 vs 데이터프레임 054

In [ ]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

print(df); print()

# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.tail()); print()

# 데이터프레임에 숫자 10 빼기
substraction = addition - df
print(substraction)