## 시리즈
시리즈는 데이터가 순차적으로 나열된 1차원 배열의 형태를 가짐

![Part1_Series](Img/img_series.jpg)

- 시리즈의 Index는 정수형 또는 명시적으로 선언된 문자열로 정의 할 수 있음.
- 시리즈의 Index는 값(value)에 접근할때 정수형, 문자열 인덱스로 접근 가능함.

In [1]:
import pandas as pd # pandas 라이브러리를 불러오고, pd라는 이름으로 사용한다.

---
### 1. 기본 Python 자료형에서 Series 생성

#### 1-1. 리스트 -> Series

In [14]:
data = [100, 200, 300]

s = pd.Series(data)

print(s)

0    100
1    200
2    300
dtype: int64

RangeIndex(start=0, stop=3, step=1)

#### 1-2. 튜플 -> Series

In [13]:
data = (100, 200, 300)

s = pd.Series(data)

print(s)

0    100
1    200
2    300
dtype: int64

#### 1-3. 딕셔너리 -> Series
- index name이 딕셔너리 key로 자동 할당됨

In [7]:
data = {'a': 100, 'b': 200, 'c': 300}

s = pd.Series(data)

print(s)

a    100
b    200
c    300
dtype: int64

---
### 2. Series index 할당
시리즈에 index 할당할때 index를 명시적으로 지정한다.
- 데이터의 수량에 맞는 index의 길이가 아니면 오류 발생

In [17]:
data = ('영인', '2010-05-01', '여', True)
index = ['이름', '생년월일', '성별', '학생여부']
s = pd.Series(data, index= index)
print(s)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

---
### 3. Series 원소 선택

In [18]:
data = ('영인', '2010-05-01', '여', True)
index = ['이름', '생년월일', '성별', '학생여부']
s = pd.Series(data, index= index)
s

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

#### 3-1. 정수 인덱스로 접근

In [37]:
# 단일 값 접근
# 시리즈의 1번째 인덱스의 값 접근
print(s[0]); print()

# 슬라이싱 접근
# 시리즈의 1번째부터 3번째 미만의 인덱스의 값 슬라이싱으로 접근
print(s[0:2]); print() 

# 여러 값 명시 접근
# 시리즈 2번째, 3번째 인덱스 명시적으로 접근
print(s[[1,2]]);

영인

이름              영인
생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

#### 3-2. 인덱스 이름으로 접근

In [40]:
# 단일 값 접근
# 시리즈의 '이름' 인덱스의 값 접근
print(s['이름']); print()

# 슬라이싱 접근
# 시리즈의 1번째부터 3번째까지의 인덱스의 값 슬라이싱으로 접근
print(s['이름':'성별']); print()

# 여러 값 명시 접근
# 시리즈의 '생년월일', '성별' 인덱스의 값 접근
print(s[['생년월일', '성별']])

영인

이름              영인
생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object