In [1]:
import pandas as pd
from pandas import Series
import numpy as np

In [3]:
# 081 시리즈 추가
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.loc["순이"] = 400
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

In [7]:
# 082 시리즈 삭제 : 시리즈에 철수 삭제
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s = s.drop("철수")

# s = s.iloc[1:]
s

영희    200
아름    300
dtype: int64

In [10]:
# 083 시리즈 삭제 (inplace) : 시리즈 객체에서 drop 메서드를 사용하여 철수를 삭제, inplace=True를 사용
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.drop("철수", inplace=True)    # inplace=True 원본 데이터도 수정
s

영희    200
아름    300
dtype: int64

In [13]:
# 084 unique : 중복값 제외 출력
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)
s.unique()

array(['전기,전자', '운수장비', '서비스업'], dtype=object)

In [14]:
# 085 unique : 한 번이라도 야근한 직원들의 명부 출력
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.unique()

array([ 9000,  8000, 10000], dtype=int64)

In [16]:
# 086 value_counts : 식대 금액별로 횟수 출력
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.value_counts()

9000     3
8000     1
10000    1
dtype: int64

In [20]:
# 087 value_counts : 직원별 야근 회수
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.index.value_counts()

이대리    3
김과장    1
박전무    1
dtype: int64

In [ ]:
# 088 value_counts : 업종별 발생 횟수
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)