In [1]:
import pandas as pd
import numpy as np

from pandas import Series

In [2]:
# 061 시리즈 데이터 타입
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [3]:
# 062 시리즈 데이터
data = [10, "가"]
s = Series(data)
type(s)
# s.dtype

pandas.core.series.Series

In [11]:
# 063 시리즈 인덱스의 데이터 타입
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.index.dtype)
print(s.dtypes)

object
int64

In [23]:
# 064 시리즈 이름과 인덱스 이름
data = {
    '2020-12-11': 73400,
    '2020-12-10': 72900,
    '2020-12-09': 73900,
    '2020-12-08': 71700,
    '2020-12-07': 72900
}

s = Series(data)
s.name = '날짜', '종가'
s

2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: (날짜, 종가), dtype: int64

In [26]:
# 065 to_dict
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s.to_dict()

{'apple': 1500, 'banana': 3000}

In [12]:
# 066 인덱스 이름 : 다음 시리즈의 인덱스 이름 icecream 정정
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)

s.index.name = "icecream"
s

icecream
apple     1500
banana    3000
dtype: int64

In [35]:
# 067 시리즈 이름 : 다음 시리즈 객체 이름 'number' 정정
s = pd.Series(data=[1, 2, 3])
s.name = "number"
s

0    1
1    2
2    3
Name: number, dtype: int64

In [41]:
# 068 NaN : 다음 시리즈 객체 생성
s = pd.Series(data=[1.0, 2.0, np.nan])
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [43]:
# 069 Index.to_numpy : 다음 시리즈 객체의 인덱스를 넘파이 배열로 변경
s = pd.Series([1, 2, 3])
s.to_numpy()

array([1, 2, 3], dtype=int64)

In [44]:
# 070 Series.array : 다음 시리즈 객체의 array 속성을 사용
s = pd.Series([1, 2, 3])