In [17]:
import pandas as pd
import numpy as np

In [18]:
# 091 데이터프레임 생성 (컬럼 단위) : 컬럼 단위로 raw 데이터를 표현해서 데이터프레임 생성

In [19]:
# 092 데이터프레임 생성 (2차원 리스트) : 아래 표와 같은 데이터프레임 생성.

In [20]:
# 093 데이터프레임 생성 (딕셔너리 리스트) : 아래 표와 같은 데이터프레임 생성

In [21]:
# 094 데이터프레임 인덱스 설정 : 인덱스 name 속성을 "종목코드" 로 설정
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)

In [22]:
# 095 data, index, columns : 데이터프레임 객체 생성
index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]

df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [24]:
# 096 numpy reshape : arange, reshape 사용
pd.DataFrame(np.arange(8).reshape(2, 4))

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

In [30]:
# 097 reset_index : 인덱스를 컬럼으로 변경

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)

# df
df.reset_index()

    index    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [33]:
# 098 index : 인덱스 출력
index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)

# df
df.reset_index()

df.index

Index(['037730', '036360', '005760'], dtype='object')

In [35]:
# 099 DataFrame.columns : 위 데이터프레임의 컬럼
index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)

# df
df.reset_index()

df.columns

Index(['종목명', '현재가'], dtype='object')

In [37]:
# 100 DataFrame dtype : 다음 데이터를 부호가 없는 8비트 정수데이터 가지 df 생성
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d, dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object