In [1]:
import pandas as pd
from pandas import Series
import numpy as np

In [7]:
# 091 시리즈 정렬 : 시리즈에 저장된 데이터의 순서를 변경
data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = Series(data, index)

print(s.iloc[ [0, 2, 1] ])
# print(s.loc[ ["08/01", "08/02", "08/03"] ])

08/01    100
08/03    200
08/02    300
dtype: int64

In [17]:
# 092 시리즈 정렬 : 시리즈 저장된 데이터 오름차순 혹은 내림차순 정렬
data = np.random.randint(10, size=4)
s = Series(data)

print(s)    # 원본 시리즈 출력시 정렬되지 않은 데이터 출력됨
print(s.sort_values()) # 오른차순 정렬된 결과가 시리즈 객체로 반환
print(s.sort_values(ascending=False)) # ascending 옵션 추가시 내림차순으로 데이터 정렬

0    5
1    6
2    3
3    8
dtype: int32
2    3
0    5
1    6
3    8
dtype: int32
3    8
1    6
0    5
2    3
dtype: int32

In [24]:
# 093 시리즈 정렬 : 인덱스 기준 a, b, c 순서로 데이터 정렬
s = Series(np.random.randint(10, size=4), ["a", "b", "c", "d"])

print(s.sort_index()) # 인덱스로 정렬

a    7
b    0
c    8
d    5
dtype: int32

In [28]:
# 094 시리즈 연산 : 시리즈에 네 제곱한 결과를 시리즈 출력
data = [100, 200, 300]
s = Series(data)
print(s**4)

0     100000000
1    1600000000
2    8100000000
dtype: int64

In [30]:
# 095 시리즈 덧셈 : 다음 연산결과 예측
data = [100, 300, 200]
s0 = Series(data, ["a", "b", "c"])
s1 = Series(data, ["a", "c", "b"])
print(s0 + s1) # 같은 인덱스 기준으로 덧셈 적용

a    200
b    500
c    500
dtype: int64

In [34]:
# 096 시리즈 뺄셈 : 다음 연산의 결과 예측
high = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
low = Series(data=[50700, 50500, 50500], index=["5/1", "5/2", "5/4"])

diff = high - low
print(diff) # 양쪽에 매칭되는 인덱스가 하나라도 존재하지 않을 경우 NaN 할당

5/1    800.0
5/2    700.0
5/3      NaN
5/4      NaN
dtype: float64

In [39]:
# 097 시리즈의 비교연산 ; 52000보다 작은 값 출력
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s
조건 = s < 52000
print(s[조건])

5/1    51500
5/2    51200
dtype: int64

In [41]:
# 098 시리즈 비교연산
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
조건 = s.index > "5/1"
print(s.loc[조건])

5/2    51200
5/3    52500
dtype: int64

In [49]:
# 099 시리즈 비교연산
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

조건 = (s >= 51400) & (s <= 53000)
print(s[조건]); print()


조건1 = s >= 51400
조건2 = s <= 53000
# print(조건1 & 조건2)
print(s[조건1 & 조건2])

5/1    51500
5/3    52500
dtype: int64

5/1    51500
5/3    52500
dtype: int64

In [52]:
# 100 시리즈 비교연산 : 시리즈에서 가격이 52000원 이하였던 날은 몇일?
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

조건 = s <= 52000
len(s[조건])

2