In [1]:
import pandas as pd
from pandas import Series
import numpy as np

In [4]:
# 111 count : null이 아닌 값의 개수 출력
data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s.count()   # 값의 개수 출력

4

In [10]:
# 112 시리즈 데이터 타입 변경 : 시리즈 데이터 타입 숫자 타입으로 변경
data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

# s.astype(int)
s.astype(np.int32)

철수    100
영희    200
아름    300
dtype: int32

In [13]:
# 113 시리즈 문자열 replace : str.replace 컴마 제거 후, int32 타입으로 변경
data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.str.replace(',', '').astype(np.int32)

철수    100000
영희    200000
아름    300000
dtype: int32

In [20]:
# 114 시리즈 문자열 인덱싱 : values에서 '세'라는 문자열 제거 후, int32 타입으로 변경
s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
print(s)

s.str[:-1].astype(np.int32)
# s.str.replace('세', '').astype(np.int32)

김대리    30세
이과장    40세
박차장    50세
dtype: object

김대리    30
이과장    40
박차장    50
dtype: int32

In [23]:
# 115 reindex : 시리즈 인덱스 ['a', 'b', 'c', 'd'] 재정렬
s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
# s

s.sort_index() # reindex 방법?

a    3
b    4
c    2
d    1
dtype: int64

In [26]:
# 116 list : 시리즈 객체값 리스트 변경
s = pd.Series([1, 2, 3])
s.tolist()

[1, 2, 3]

In [31]:
# 117 dict : 시리즈 딕셔너리로 변경
s = pd.Series([1, 2, 3])
s.to_dict()

{0: 1, 1: 2, 2: 3}

In [32]:
# 118 dropna : 다음 객체에서 NaN값을 제거
s = pd.Series([1, 2, 3, np.nan])

In [34]:
# 119 Series.map : 시리즈 객체에서 콤마 제거
s = pd.Series(["1,234", "5,678", "9,876"])
s.map() # ?

TypeError: map() missing 1 required positional argument: 'arg'

In [37]:
# 120 Series.apply : apply 메서드 사용해서 사용 로그 (자연수 10을 밑으로 한 로그) 값을 구한다.
s = pd.Series([10, 100, 1000])
s.apply(np.log10)

0    1.0
1    2.0
2    3.0
dtype: float64