In [1]:
import pandas as pd
import numpy as np

In [8]:
# 101 데이터프레임 컬럼 접근 : 현재가 컬럼 출력
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

print(df["현재가"])
df

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [15]:
# 102 컬럼 인덱싱 : 현재가 컬럼을 인덱싱, 데이터프레임 타입 변경
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

# type(df["현재가"])  # pandas.core.series.Series
type(df[["현재가"]])    # pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [17]:
# 103 데이터프레임 멀티 컬럼 접근 : "현재가", "등락률" 컬럼 인덱싱
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df[["현재가", "등락률"]]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [21]:
# 104 데이터프레임 로우 접근 (iloc 속성) : 0번째 행 출력
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[0]
# df

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [23]:
# 105 데이터프레임 로우 접근(iloc 속성) : 가장 아래쪽의 행 출력
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[-1]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [31]:
# 106 데이터프레임 멀티 로우 접근 (iloc 속성) : iloc으로 0, 2번째 행을 출력
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[[0, 2]]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [34]:
# 107 loc : "037730" 종목 데이터 읽기
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc["037730"]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [36]:
# 108 loc 멀티 인덱싱 : 첫 번째, 세 번째 행을 동시에 인덱싱
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc[["037730", "005760"]]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [45]:
# 109 특정 값 가져오기 (iloc) : 037730 종목의 등락률을 출력
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc["037730", "등락률"]
df.iloc[0, 2]

7.36

In [48]:
# 110 DataFrame.iat과 DataFrame.at : iat, at 속성 사용해서 037730 등락률 출력
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iat[0, 2]
df.at["037730", "등락률"]

7.36