In [1]:
import pandas as pd
import numpy as np

#### 1. 행 삭제

In [2]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 데이터프레임 df 복제, 변수 df2 저장, df2 1개 행(row) 삭제
df2 = df.copy()
df2.drop('우현', inplace=True)
print(df2); print()

# 데이터프레임 df 복제, 변수 df3 저장, df3 2개 행(row) 삭제
df3 = df.copy()
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

#### 2. 열 삭제

In [3]:
data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
        '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(data, index=['서준', '우현', '인아'])
print(df); print()

# 데이터프레임 df 복제, 변수 df4 저장, df4 1개 열(column) 삭제
df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)
print(df4); print()

# 데이터프레임 df 복제, 변수 df5 저장, df5 2개 열(column) 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5); print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90