In [6]:
import numpy as np

In [7]:
# 051 모듈 임포트
import pandas as pd
from pandas import Series

In [11]:
# 052 시리즈의 생성 (리스트)
data = [100, 200, 300]
s = Series(data)
print(s)

0    100
1    200
2    300
dtype: int64

In [14]:
# 053 시리즈의 생성 (인덱스 지정)
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data)
s.index = index
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [15]:
# 054 시리즈의 생성 (딕셔너리)
score = {
    "철수": 100,
    "영희": 200,
    "아름": 300
}

s = Series(score)
s

철수    100
영희    200
아름    300
dtype: int64

In [21]:
# 055 시리즈 생성
data = {
    '삼성전자': 73000,
    '셀트리온' : 356000,
    '카카오' : 367000,
    '삼성전자우' : 68600,
    '현대바이오' : 34150
}

s = Series(data)
s

삼성전자      73000
셀트리온     356000
카카오      367000
삼성전자우     68600
현대바이오     34150
dtype: int64

In [24]:
# 056 시리즈 인덱스
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.index

Index(['철수', '영희', '아름'], dtype='object')

In [27]:
# 057 시리즈 데이터
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.values

array([100, 200, 300], dtype=int64)

In [29]:
# 058 시리즈와 딕셔너리
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s

철수    100
영희    200
아름    300
dtype: int64

In [35]:
# 059 시리즈와 엑셀
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

# s.to_excel("data.xlsx")
s.to_excel("data.xlsx", header=False) # 엑셀 위 첫번째 라인 제거하고 싶을때

In [36]:
# 060 시리즈와 엑셀
data = pd.read_excel('data.xlsx')
data

   철수  100
0  영희  200
1  아름  300