In [1]:
import pandas as pd
import numpy as np

In [13]:
# 121 필터링 : 현재가 1500이상인 값만 가져오기
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

In [14]:
# 122 필터링 : 현재가 1500 이상, 1700원 미만인 값 필터링
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

In [15]:
# 123 컬럼 추가 : 다음 데이터프레임에 목표가 컬럼 추가
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

In [16]:
# 124 로우추가 : 데이터프레임에 LG전자의 데이터 추가
# 종목코드  종목명  현재가  등락률
# 066570    LG전자  60000   3.84
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

In [18]:
# 125 데이터프레임 컬럼명 변경 (columns 속성) : columns 속성 사용해 'a', 'b', 'c'로 변경
df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

In [19]:
# 126 데이터 프레임 컬럼명 변경 (rename 메서드) : 데이터프레임에서 rename 사용해서 컬럼 'A', 'a' 변경
df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

In [20]:
# 127 name 속성 : 데이터프레임 index.name 속성을 'year', columns.name 속성을 'company'로 변경
data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)

In [9]:
# 128 데이터프레임 reindex : 데이터프레임 컬럼 순서 ['NAVER', '카카오']로 재정렬
data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
df

        카카오  NAVER
2019    NaN     52
2020  221.0     47
2021   35.0      3

In [11]:
# 129 데이터프레임 drop : 데이터프레임에서 'NAVER' 컬럼 삭제
data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
df

        카카오  NAVER
2019    NaN     52
2020  221.0     47
2021   35.0      3

In [21]:
# 130 데이터프레임 drop : '카카오', 'NAVER' 컬럼 삭제
data = {"카카오": [np.nan, 221, 35], 
        "NAVER": [52, 47, 3],
        "삼성전자": [17, 21, 13]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
df

        카카오  NAVER  삼성전자
2019    NaN     52    17
2020  221.0     47    21
2021   35.0      3    13