In [2]:
import pandas as pd
from pandas import Series
import numpy as np

In [7]:
# 121 dropna : NaN값 제거
data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [12]:
# 122 nlargest : nlargest 메서드 사용하여 값이 큰 3개 출력
data = range(1, 11)
s = Series(data=data)
s.nlargest(n=3)

9    10
8     9
7     8
dtype: int64

In [14]:
# 123 nsmallest : 값이 작은 3개 출력
data = range(1, 11)
s = Series(data=data)
s.nsmallest(n=3)

0    1
1    2
2    3
dtype: int64

In [21]:
# 124 Series.dt.year : 시리즈 객체값에서 연도만 가져오기
from datetime import datetime
s = pd.Series([datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)])
s.dt.year

0    2020
1    2021
2    2022
dtype: int64

In [26]:
# 125 시리즈 시계열 인덱스 : 시리즈 인덱스에서 연도만 가져오기
index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s.index.year

Int64Index([2020, 2021, 2022], dtype='int64')

In [28]:
# 126 Series.dt.day : 다음 시리즈 객체의 값에서 날짜 값만 가져오기
s = pd.Series([datetime(2022,1,1), datetime(2022,1,2), datetime(2022,1,3)])
s.dt.day

0    1
1    2
2    3
dtype: int64

In [33]:
# 127 strftime : 다음 포맷의 문자열 리스트
index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s.index.strftime("%Y-%m-%d 00:00:00")

Index(['2020-01-01 00:00:00', '2021-01-01 00:00:00', '2022-01-01 00:00:00'], dtype='object')

In [36]:
# 128 Series.str.cat : 문자열 합침
s = pd.Series(["000020", "000040", "005930"])
s.str.cat(sep=';')

'000020;000040;005930'

In [39]:
# 129 문자열 추가 : 시리즈 객체 종목 코드에 'A'를 추가
s = pd.Series(["000020", "000040", "005930"])
'A'+s

0    A000020
1    A000040
2    A005930
dtype: object

In [40]:
# 130 Series.str.zfill : 아래 시리즈 값은 원래 6자리여야 한다. 이를 복원한다.

s = pd.Series(["20", "40", "5930"])
s.str.zfill(6)

0    000020
1    000040
2    005930
dtype: object