## 04. 시리즈 인덱싱과 슬라이싱

In [4]:
import pandas as pd
from pandas import Series
import numpy as np

In [5]:
# 071 시리즈 타입 : 다음 코드 수행을 위해 어떤 데이터 타입이 출력되는가?
s = pd.Series([1, 2, 'python'])
print(s.dtype)

# object 타입이 출력됩니다.
# 시리즈는 하나의 데이터 타입만 가질 수 있습니다.
# 예제에서처럼 숫자와 문자가 섞여 있는 경우 하나의 데이터 타입으로 표현하기 위하여 숫자를 문자로 변환 후 문자열 타입의 데이터가 있는 시리즈 객체를 생성합니다.

object

In [6]:
# 072 시리즈 타입 변경 : 다음 시리즈 객체의 데이터 타입을 int32로 변경
s = pd.Series(['1', '2', '3'])
s.astype('int32')
s

0    1
1    2
2    3
dtype: object

In [7]:
# 073 시리즈 데이터 타입 설정 : BTC 금액 50000, XRP 금액 1, ETH 금액 4000 시리즈 객체 생성, 데이터 float
data = {
    'BTC': 50000.0,
    'XRP': 1.0,
    'ETH': 4000.0
}

s = pd.Series(data)
s.astype(float)
s

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

In [8]:
# 074 시리즈 인덱싱 (대괄호 사용하기) : 다음 데이터를 시리즈 객체로 표현
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s[1]

200

In [9]:
# 075 시리즈 인덱싱 (iloc 속성 사용하기)
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.iloc[1]

200

In [10]:
# 076 시리즈 인덱싱 (loc 속성 사용하기)
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.loc["영희"]

200

In [15]:
# 077 시리즈 인덱싱 (인덱스 사용하기)
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
# s["영희"]

s.영희

200

In [17]:
# 078 시리즈 슬라이싱 : 100, 200 출력
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s[["철수", "영희"]]

철수    100
영희    200
dtype: int64

In [18]:
# 079 시리즈 슬라이싱 : 시리즈에서 상위 3개의 데이터의 날짜(인덱스)를 출력
data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = Series(data, index)

print(s.iloc[0:3].index)

Index(['08/01', '08/02', '08/03'], dtype='object')

In [20]:
# 080 시리즈 슬라이싱 : 시리즈에서 100, 300, 500 출력
data = [100, 200, 300, 400, 500, 600] 
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"] 
s = Series(data, index)

s.iloc[0::2]

08/01    100
08/03    300
08/05    500
dtype: int64