In [1]:
import pandas as pd
import numpy as np

In [15]:
# 111 특정 값 가져오기 (loc) : 037730 종목 등락률
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc["037730", "등락률"]

7.36

In [17]:
# 112 iloc 슬라이싱 : iloc 사용해 두 번째 행을 슬라이싱
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[0:2]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [18]:
# 113 loc 슬라이싱 : loc 속성 사용하여, 두 번째 행 슬라이싱
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc["036360":"036360"]

          종목명   현재가   등락률
종목코드
036360  3SOFT  1790  1.65

In [20]:
# 114 컬럼 인덱싱 (iloc) : iloc 속성 사용하여 첫 번째 컬럼 인덱싱
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[:, 0]

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

In [24]:
# 115 컬럼 인덱싱 (loc 속성) : loc 속성 사용하여 첫 번째 컬럼 인덱싱
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc[:, "종목명"]

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

In [25]:
# 116 loc : loc 사용해 '037730' 종목의 '종목명', '현재가' 선택
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc['037730', ['종목명', '현재가']]

종목명      3R
현재가    1510
Name: 037730, dtype: object

In [26]:
# 117 iloc : iloc 사용해 '037730' 종목의 '종목명', '현재가' 선택
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[0, [0, 1]]

종목명      3R
현재가    1510
Name: 037730, dtype: object

In [27]:
# 118 loc : 아래 범위 가져오기
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc[['037730', '036360'], ['종목명', '현재가']]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

In [29]:
# 119 iloc : 아래 범위 가져오기
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[[0, 1], [0, 1]]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

In [13]:
# 120 loc 속성과 슬라이싱 : 아래 코드로 선택되는 영역 말해보기?
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc[:"036360", "현재가":"등락률"]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65